*.DS_Store
/conditional_prilozhenie/gradle
/conditional_prilozhenie/.gitattributes
/conditional_prilozhenie/.gitignore
/conditional_prilozhenie/gradlew
/conditional_prilozhenie/gradlew.bat
/conditional_prilozhenie/settings.gradle